<html  xmlns:th="http://www.thymeleaf.org">


<head>

		<title>Menu</title>
		<meta charset="utf-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" type="text/css" media="all" href="../../css/InicioStyle.css" th:href="@{/css/InicioStyle.css}"/>

</head>
<body>
	<div class="header">
	  <h1>Menú</h1>
	</div>
    
	<div class="container">
	<a href="ListaDeProductos" class="button">Listado de Productos</a>
    </div>
	<div class="container">
	<a href="Formulario" class="button">Nuevo Producto</a>
    </div>
    <br/>
<div class="container" style="align-self: middle">
  <a type="button" href="/" class="btn btn-success">Salir</a>
</div>
</body>
</html>